/* Global styles */
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #2d476f;
    position: relative;
    min-height: 100vh;
    background-color: #f5f5f5;
}

/* Navbar styles */
.navbar {
    background-color: #2d476f !important;
}

.navbar-nav a {
    color: #f5f5f5;
}

.navbar-brand {
    color: #f5f5f5;
    font-weight: 700;
}

.nav-link {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
}

/* Hierarchy section styles */
.hier-intro {
    padding: 40px 0 60px 0;
    text-align: center;
}

hr {
    margin: 20px 0 32px 0 !important;
    color: #2d476f;
}

.hier-container {
    padding-bottom: 8rem;
}

/* Default heading styles */
h1 {
    font-size: 4rem;
    padding-bottom: 0.2rem;
    font-weight: 700;
}

h1,
h2,
h3,
h4 {
    padding-bottom: 0.8rem;
}

/* Homepage header style */
.homepage-header {
    font-size: 3.052rem;
    margin-bottom: 1rem;
}

/* Code styling */
code {
    color: #da4a4a;
    font-size: .875rem;
}

/* Typography: Fira Sans & Bitter */
.fira-bitter {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.fira-bitter h1 {
    font-size: 5.615em;
    font-weight: 700;
    color: #2d476f;
}

.fira-bitter h2 {
    font-size: 4.2em;
    font-weight: 400;
    color: #2d476f;
}

.fira-bitter h3 {
    font-size: 3em;
    font-weight: 500;
    color: #2d476f;
}

.fira-bitter h4 {
    font-size: 2em;
    font-weight: 400;
    font-style: italic;
    color: #2d476f;
}

.fira-bitter em {
    font-size: 1em;
    font-weight: 400;
    color: #2d476f;
}

.fira-bitter a {
    font-size: 1em;
    font-weight: 400;
    color: #2d476f;
    text-decoration: underline;
    text-decoration-thickness: .12em;
    text-decoration-color: #FF5733;
}

.fira-bitter a:hover {
    color: #FF5733;
    text-decoration: none;
}

.fira-bitter .hover {
    font-weight: 400;
    color: #FF5733;
    text-decoration: none;
}

/* Page 1 - Use Libre Franklin font */
.page1 h1 {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 5.6rem;
}

.page1 h2 {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 4.2rem;
}

.page1 h3 {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 3rem;
}

.page1 h4 {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 2.5rem;
}

/* Page 2 - Use Fira Sans font */
.page2 h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 5.6rem;
}

.page2 h2 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 4.5rem;
}

.page2 h3 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3.5rem;
}

.page2 h4 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 2.8rem;
}

/* Page 3 - Use Poppins font */
.page3 h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 5.6rem;
}

.page3 h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
}

.page3 h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 3.2rem;
}

.page3 h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.4rem;
}

/* Footer styles */
footer {
    width: 100%;
    padding: 1.5rem 0 3rem 0;
    height: 5rem;
    bottom: 0;
    text-align: center;
    color: #2d476f;
}

.footer-link {
    font-weight: 700;
    text-decoration: none;
    color: #2d476f;
}

.footer-link:hover {
    text-decoration: underline;
}

.specs {
    padding-top: 20px;
}
